*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
.header{
    max-width: 1920px;
    background-color: black;
    padding: 10px 0px;
}
.container_header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
.header_inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
    word-wrap: break-word
}
.social_media{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
}
.button{
    background:  rgb(203, 8, 171);
    border-radius: 20px;
    width: 257px;
    padding: 17px 80px;
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
}
.vk_header {
    width: 33px;
    height: 32px;
}

.footer{
    max-width: 1920px;
    background-color: #d61daeec;
    padding: 20px 0;
}
.container_footer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
}
.footer_left{
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_zag{
    color: black;
    font-size: 45px;
    font-family: Montserrat;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px;
}
.footer_txt_under_zag{
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
}
.fotter_line{
    background-color: white;
    width: 440px;
    height: 2px;
}
.footer_communication{
    display: flex;
    justify-content: space-between;
    gap: 97px;
}
.footer_phone, .footer_mail{
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
}
.footer_socialmedia{
    display: flex;
    justify-content: space-around;
    gap: 55px;
}
.footer_nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 210px;
    gap: 30px;
}
.footer_nav_links{
    gap: 30px;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
}
.footer_right{
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
}
.footer_adress_zag, .footer_time_zag, .footer_time, .footer_adress{
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
    width: 337px;
}
.footer_line_end{
    background-color: white;
    width: 1400px;
    height: 2px;
    margin-top: 30px;
}
.footer_txt_end{
    color: black;
    font-size: 18px;
    font-family: Inter;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    margin-top: 30px;
}

@media (max-width: 1120px){
    .logo img{
        width: 65px;
        height: 60px;
    }
}
@media (max-width: 1000px){
    .footer{
        max-width: 1000px;
        background-color: #d61daeec;
        padding: 15px 0;
    }
    .container_footer{
        max-width: 750px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .footer_flex{
        display: flex;
        justify-content: space-between;
    }
    .footer_left{
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer_zag{
        color: black;
        font-size: 30px;
        font-family: Montserrat;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 60px;
    }
    .footer_txt_under_zag{
        color: white;
        font-size: 15px;
        font-family: Inter;
        font-weight: 500;
        text-transform: uppercase;
    }
    .fotter_line{
        background-color: white;
        width: 250px;
        height: 2px;
    }
    .footer_communication{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .footer_phone, .footer_mail{
        color: white;
        font-size: 15px;
        font-family: Inter;
        font-weight: 500;
    }
    .footer_socialmedia{
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }
    .footer_socialmedia img{
        width: 30px;
        height: 30px;
    }

    .footer_nav{
        display: none;
    }

    .footer_right{
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 20px;
    }
    .footer_adress_zag, .footer_time_zag, .footer_time, .footer_adress{
        color: white;
        font-size: 15px;
        font-family: Inter;
        font-weight: 500;
        text-transform: uppercase;
        width: 280px;
    }
    .footer_line_end{
        background-color: white;
        width: 730px;
        height: 2px;
        margin-top: 10px;
    }
    .footer_txt_end{
        color: black;
        font-size: 15px;
        font-family: Inter;
        font-weight: 500;
        text-transform: uppercase;
        text-align: right;
        margin-top: 30px;
    }

}
@media (max-width: 425px){
    .footer{
        max-width: 425px;
        background-color: #d61daeec;
        padding: 10px 0;
    }
    .container_footer{
        max-width: 300px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .footer_flex{
        display: flex;
        justify-content: center;
    }
    .footer_left{
        width: 300px;
        gap: 10px;
    }
    .footer_zag{
        font-size: 20px;
        line-height: 30px;
    }
    .footer_txt_under_zag{
        font-size: 10px;
    }
    .fotter_line{

        width: 100px;
        height: 1px;
    }
    .footer_communication{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .footer_phone, .footer_mail{
        font-size: 10px;
    }
    .footer_socialmedia{
        display: flex;
        justify-content: space-around;
        gap: 40px;

    }
    .footer_socialmedia img{
        width: 25px;
        height: 25px;
    }

    .footer_nav{
        display: none;
    }
 
    .footer_right{
        display: none;
    }
    .footer_adress_zag, .footer_time_zag, .footer_time, .footer_adress{
        display: none;
    }
    .footer_line_end{
        width: 280px;
        height: 1px;
    }
    .footer_txt_end{
        color: black;
        font-size: 10px;
        font-family: Inter;
        font-weight: 500;
        text-transform: uppercase;
        text-align: right;
        margin-top: 10px;
    }
}


